/* RESET CSS */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* GLOBAL STYLE */

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: "Bricolage Grotesque";
	src: url("/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
		format("truetype");
	font-weight: 100 900; /* Plage de poids pour une police variable */
	font-style: normal;
}

body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(107.56deg, #070f27 0%, #19368d 100%);
	font-family: "Inter", sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}

.title {
	font-family: "Bricolage Grotesque", sans-serif;
}

h1 {
	background: linear-gradient(
		180deg,
		rgba(153, 153, 153, 0.82) 8.62%,
		#ffffff 92.53%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}


